
.DS_Store
Thumbs.db


*.class
*.o
*.so
*.exe


*.log


*.tmp
*.swp
*.swo
*.bak


*.~*
*.bak
*.orig


node_modules/

.env
.env.local
.npy

.ipy*

__pycache__

experiments/

data/

pretrained_bases

*/__pycache__
*/*/__pycache__

ckpts

visualization

segmentation/log

segmentation/__pycache__

*/.ipynb_checkpoints

datasets/__pycache__

*result*
*.pdf
*.npy

t-SNE.py

*.txt
*visualize*